body,
html {
    width: 100%;
    height: 100%
}

body {
    font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: rgb(211, 187, 48)
}

hr.light {
    border-color: #fff
}

a {
    color: rgb(211, 187, 48);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s
}

a:hover {
    color: rgb(211, 187, 48)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

.bg-primary {
    background-color: rgb(211, 187, 48) !important
}

.bg-dark {
    background-color: #212529 !important
}

.text-faded {
    color: rgba(255, 255, 255, .7)
}

section {
    padding: 8rem 0
}

.section-heading {
    margin-top: 0
}

#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, .1);
    background-color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s
}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(211, 187, 48);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: rgb(211, 187, 48)
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: rgb(211, 187, 48)
}



@media (min-width:992px) {
    #mainNav {
        border-color: transparent;
        background-color: rgb(211, 187, 48)
    }

    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, .7)
    }

    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: black
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link {
        padding: .5rem 1rem
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
        color: rgba(255, 255, 255, .7)
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
        color: #fff
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffffff;
  }

  /* Reset Select */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
    
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
    margin-left: 1200px;
    margin-top: -300px;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
